---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 3
  color: --warning
---
<div style="display: block; align-self: flex-start;">
	<h3>About Me</h3>
	<p>
		I'm Seán, also known as CrashOverride or sometimes Daxorinator.
		I'm a 21-year old Electronic and Computer Engineering student from Galway, Ireland.
		I'm studying at University of Galway, where I'm currently working on <a href="https://github.com/Logicademy" style="text-decoration: underline;">The Logicademy Project</a>.
	</p>
	<h3>My Interests</h3>
	<p>
		My tech journey started with programming in Python, a language that I continue to use today with Logicademy, and for quick scripting and DevOps needs.
		Since my early programming days, my interest has shifted largely towards electronics, homebrew computing, and embedded systems,
		through a mixture of hardware and software projects. I'm also an avid homelabber, however with the rising cost of electricity, my homelab has largely moved
		on-campus, and to the cloud. This doesn't stop me from managing a wide variety of systems however, thanks to the Computer Society in University of Galway where I
		volunteer as a sysadmin.
		<br><br>
		CompSoc allows my to share my interests in electronics, programming, system administration, and DevOps with other students. We also maintain infrastructure which
		aids students and other societies, providing compute resources for society events, deep storage for historical society data, and free web, database, and application
		hosting for students to make use of for their personal and academic projects.
		<br><br>
		I also enjoy console modding, I own most Nintendo consoles and have soft-modded my Wii, Wii&nbsp;U, and 3DS. With the help of
		<a href="https://github.com/FrictionlessPortals" style="text-decoration: underline;">FrictionlessPortals</a>, we built
		<a href="https://github.com/rust-wii/" style="text-decoration: underline;">Grand Star</a>, a set of Rust toolchains and libraries for the Wii. Unfortunately, my Rust skills stop there as I find the language quite difficult.
		This, along with electronics and embedded system programming workshops at <a href="https://coderdojo.com/" style="text-decoration: underline;">CoderDojo</a> when I was younger
		cemented my interest in electronics, embedded systems, and homebrew computing. At the moment I'm working on a series of homebrew computers, including an 8-bit TTL computer,
		a 65c02 breadboard computer, an ATMega 1284 single-board BASIC computer, a Z80 computer, an M68k computer, and an 8080 computer - I'll build them all&nbsp;eventually!
		<br><br>
		I've recently developed an interest in RISC-V and System-on-Chip design, and have begun playing around with RISC-V, using boards such as the Milk-V Duo.
		I haven't done too much with this yet but I have begun building a RISC-V processor in VHDL to learn more about the specification and
		the power of the architecture while improving my knowledge of SoC design. So far, for embedded systems, RISC-V seems functionally similar to other architectures and microcontrollers with RISC-V cores are quickly becoming commonplace online.
		<br><br>
		I'm also a keyboard nerd, check out my Projects page to see my fully custom 3D-printed keyboard with a custom PCB. I maintain a decent sized vegetable garden and enjoy cooking and baking, I occasionally post about this on my blog.
	</p>
	<h3>My Skills</h3>
	<p>
		As an Infrastructure Engineer, my professional skills stem from my Linux system administration experience and have grown
		towards cloud infrastructure and DevOps-related skills.
		<br><br>
		My primary skills are in DevOps technologies including Docker and Kubernetes, CI/CD pipelines with GitHub/GitLab/etc., Grafana and Prometheus monitoring, and Python scripting.
		<br>
		I'm also proficient in Java, and frequently work with remote virtual and dedicated servers, including servers running Proxmox, Windows Server, cPanel/Plesk/DirectAdmin/NGINX, MySQL and PostgreSQL, and a variety of other applications including email and game servers.
		Similarly, I am knowledgeable in switching and routing, with VyOS and Juniper/Cisco-like appliances, using IPv4/IPv6/GRE/IPSec/BGP/OVPN, etc.
		<br><br>
		Most recently, I have been expanding my project management skills including sprint management and planning, and Agile software development through Web and Mobile applications.
		I also have experience scoping projects, managing and developing project timelines, and handling project communications with clients.
		<br><br>
		If you'd like to know more about my professional experience, check out my CV <a href="/CV.pdf" style="text-decoration: underline;">here</a>.
	</p>
</div>