---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
  color: --primary
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(3) %}

<h4 style="align-self: flex-start; margin: 0">I'm Seán,</h4>

<p style="align-self: flex-start; margin: 0 0 1em 0">
	An Infrastructure Engineer from Galway, Ireland.<br>
	<br>
	I'm currently studying a BE. & ME. in Electronic & Computer Engineering,<br>at University of Galway, Ireland.<br>
	<br>
	Right now, I'm building embedded systems and homebrew computers, growing fruits and vegetables, learning system-on-chip design and game development, and working on many other electronics projects. Find out more about my projects on the <a href="/projects/" style="color: var(--error); text-decoration: underline;">Projects</a> page or visit my <a href="/blog/" style="color: var(--success); text-decoration: underline;">Blog</a>.<br>
	<br>
	As an Infrastructure Engineer, I help implement DevOps principles including both on-premesis and in the cloud, mainly focusing on deploying and maintaining cloud-scale infrastructure, CI/CD pipelines, and application/infrastructure performance monitoring.<br>
	<br>
	Hiring? Check out my CV on my <a href="/about/" style="color: var(--warning); text-decoration: underline;">About Me</a> page.
</p>


<section class="nes-container is-dark with-title is-centered" style="margin: 0 0 2em 0">
	<h4 class="title">Contact Me</h4>

	<a href="https://github.com/Daxorinator" target="_blank"><i class="nes-icon github is-large"></i></a>
	
	<a href="https://linkedin.com/in/daxorinator" target="_blank"><i class="nes-icon linkedin is-large"></i></a>
	
	<a href="https://twitter.com/Daxorinator" target="_blank"><i class="nes-icon twitter is-large"></i></a>
	
	<a href="mailto:sean@override.online" target="_blank"><i class="nes-icon gmail is-large"></i></a>

</section>

<div class="nes-container is-dark with-title is-centered">

	<h4 class="title">My Latest Blog Posts</h4>

	{% set postslist = collections.posts | head(-3) %}
	{% set postslistCounter = postsCount %}
	{% include "postslist.njk" %}

	{% if postsCount > 3 %}
	<p>More posts can be found in <a href="/blog/">the archive</a>.</p>
	{% endif %}

</div>


