---
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 3
  color: --error
---
<div class="nes-container is-dark is-centered with-title" style="box-sizing: content-box; margin: 2em">
  <h1 class="title">Projects</h1>

  {% set projectslist = collections.projects %}
  {% include "projectslist.njk" %}
</div>